@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter ExtraBold"), local("Inter-ExtraBold"),
    url("/fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"),
    url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
    url("/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter BoldItalic"), local("Inter-BoldItalic"),
    url("/fonts/Inter-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"),
    url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
    url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Italic"), local("Inter-Italic"),
    url("/fonts/Inter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-dark font-inter text-gray-300;
}

p {
  @apply py-2;
}

.link {
  text-decoration: none;
  position: relative;
  isolation: isolate;
}

.link::after {
  content: '';
  position: absolute;
  bottom: -7%;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  z-index: -1;
}
.link::before {
  content: '';
  position: absolute;
  bottom: -7%;
  right: 0;
  width: 0%;
  height: 3px;
  z-index: 1;
  background: linear-gradient(to right, #ff1e57, #8b54a2, #0096ff);

  transition: width 0.3s ease-in-out;
}

.link:hover::before {
  width: 100%;
  left: 0;
}